# Core dependencies
# google-cloud-aiplatform>=1.36.0
google-adk>=0.3.0
python-dotenv>=1.0.0
# google-generativeai
# google-ai-generativelanguage

# Agent-specific dependencies
# torch>=2.0.0
# pillow>=10.0.0
# moviepy>=1.0.0
# ffmpeg-python>=0.2.0

# Testing
pytest>=7.4.0

# UI
streamlit>=1.28.0
openai
pillow
aiohttp>=3.11.18
aiofiles>=24.1.0
moviepy==1.0.3